{% load static %}
<html>
<head>
    <title></title>
        <link href="{% static 'cryptovpnapp/css/cryptovpn.css' %}" rel="stylesheet">
        <script src="{% static 'cryptovpnapp/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'cryptovpnapp/js/test.js' %}"></script>
          <script>
        window.drf = {
          csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
          csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
        };
      </script>
</head>

<body>
<h1>Hello, Ramiro</h1>
<p>
The rest endpoints use JWT token authentication but the Django Admin and Django Rest Framework Browsable API use session authentication which may cause confusion.
</p>
<p>
    {% if user.is_authenticated %}
You currently have a session login as {{user.username}}
{% else %}
You currently have no session login
{% endif %}
</p>
<h1>Django Admin</h1>
<a href="admin">Django Admin</a>

<h1>Django Rest Framework Browsable API</h1>

<h2>Session Authentication</h2>
<ul>
    <li><a href="api-auth/login">Rest Framework Browsable API login</a></li>
    <li><a href="api-auth/logout">Rest Framework Browsable API logout</a></li>
</ul>

<h2>Django rest-auth endpoints</h2>
Add ?format=json to urls to see raw json response
<ul>
<li><a href="api/1.0/rest-auth/login/">Rest Token Login</a></li>
<li><a href="api/1.0/rest-auth/login/">Rest Token Logout</a></li>
<li><a href="api/1.0/rest-auth/password/change/">Rest Password Change</a></li>
<li><a href=/api/1.0/rest-auth/password/reset/ ">Rest Password Reset</a></li>
<li><a href="api/1.0/rest-auth/password/reset/confirm/">Rest Confirm Password Reset</a></li>
<li><a href="api/1.0/rest-auth/user/">Rest Current User (needs work to remove first name and last name)</a></li>
<li><a href="api/1.0/rest-auth/registration/">Rest Registration</a></li>
<li><a href="api/1.0/rest-auth/registration/verify-email/">Rest Confirm Email</a></li>
</ul>

<h2>Resource endpoints</h2>
To see these links in the browsable api, first login with the Rest Framework Browsable API login link above as a superuser.
<ul>
<li><a href="api/1.0/">API Resource Links</a></li>
</ul>
</body>


</html>
